</br>
</br>
</br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome categoria:</strong>
  <%= @st_category.nome_categoria %>
</p>

<%= link_to 'Edit', edit_st_category_path(@st_category) %> |
<%= link_to 'Back', st_categories_path %>
