<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Editar Empresa</h3>
  </div>
  <div class="panel-body">
     <%= render 'form' %>
  </div>
</div>

<%= link_to 'Exibir', @st_empresa %> |
<%= link_to 'Voltar', st_empresas_path %>
