<div class="panel panel-default">
  <div class="panel-heading" style="background:#e89980" align="center"><strong>Pizzas</strong></div>

	 <div class="list-group">
	  	<a  id="panelCentral" class="list-group-item">
	      <h4 class="list-group-item-heading">Portugueza 	    
	    	 <small class="pull-right">
        	      <strong style="color:#6ae488">R$:50.00</strong>
	          </small>
	       </h4>
		    <p class="list-group-item-text">
		    <small>
		        <em>
	               Cebola,milho,batata 
		        </em>
		    </small>
		    </p>
	    </a>

	    <a  id="panelCentral" class="list-group-item">
	      <h4 class="list-group-item-heading">Portugueza 	    
	    	 <small class="pull-right">
        	      <strong style="color:#6ae488">R$:50.00</strong>
	          </small>
	       </h4>
		    <p class="list-group-item-text">
		    <small>
		        <em>
	               Cebola,milho,batata 
		        </em>
		    </small>
		    </p>
	    </a>

       	 <a  id="panelCentral" class="list-group-item">
	      <h4 class="list-group-item-heading">Portugueza 	    
	    	 <small class="pull-right">
        	      <strong style="color:#6ae488">R$:50.00</strong>
	          </small>
	       </h4>
		    <p class="list-group-item-text">
		    <small>
		        <em>
	               Cebola,milho,batata 
		        </em>
		    </small>
		    </p>
	    </a>

  </div>
   <div class="panel-heading" align="center" style="background:#e89980"><strong>Sanduiches</strong></div>
   <div class="list-group">
       
       	 <a  id="panelCentral" class="list-group-item">
	      <h4 class="list-group-item-heading">Portugueza 	    
	    	 <small class="pull-right">
        	      <strong style="color:#6ae488">R$:50.00</strong>
	          </small>
	       </h4>
		    <p class="list-group-item-text">
		    <small>
		        <em>
	               Cebola,milho,batata 
		        </em>
		    </small>
		    </p>
	    </a>

	    <a  id="panelCentral" class="list-group-item">
	      <h4 class="list-group-item-heading">Portugueza 	    
	    	 <small class="pull-right">
        	      <strong style="color:#6ae488">R$:50.00</strong>
	          </small>
	       </h4>
		    <p class="list-group-item-text">
		    <small>
		        <em>
	               Cebola,milho,batata 
		        </em>
		    </small>
		    </p>
	    </a>
   </div>
</div>