<nav class="navbar navbar-default navbar-fixed-top" style="background:#3b7098">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">No Setor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-left" role="search">
           <div class="input-group">
           <input type="text" class="form-control" size="60" placeholder="Pesquise por produtos e estabelecimentos">
           <span class="input-group-btn">
           <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
           </div><!-- /input-group -->
          </form>
          <ul class="nav navbar-nav">
            <!--<li><a href="#"><b>Home</b></a></li>-->
            <li><a class="btn btn-primary" align="center" onclick="$('#myModal1').modal('show');" style="background:#3b7098"       role="button">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Setores
             </a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Lado Direito</a></li>
          </ul>
       </div><!--/.nav-collapse -->
   </div>
</nav>


<style type="text/css">

.navbar-default .navbar-nav > li > a {
    color: #d5d5d5;
}

.navbar-default .navbar-brand {
    color: #fbfbfb;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #ffffff;
}






</style>